################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/src/RocketBotGUI/obj/Debug
/src/POGOProtos/obj/Debug
/src/POGOProtos/bin/Debug
